*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(../IMAGENS/landing-page-cyber\ -\ coÌpia.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    font-size: 26px;
    font-family: cursive;
    color: white;
    width: 200px;
    margin: 20px;
    text-align: center;
    position: absolute;
}

.logo > i > p{
    display:inline-block;
    color: white;
}

.menu{
    height: 70px;
    width: 600px;
    float: right;
    margin: 12px;
}

.menu > ul > li {
    list-style: none;
    float: left;
    margin: 20px;
    align: center;
}

.menu > ul > li > a{
    text-decoration: none;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.icones-redes{
    font-size: 22px;
    margin: 31px;
    position: absolute;
    width: 120px;
    right: 6%;
}

.menu > ul > li > a:hover{
    color: #12A5CD;
}

.icones-redes > a {
    text-decoration: none;
    color: white;
    padding: 8px;
}

.icones-redes > a:hover{
    color: #12A5CD;
}

.principal{
    width: 600px;
    margin-left: 80px;
    position: absolute;
    margin-top: 130px;
    color: white;
}

.titulo{
    font-size: 85px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 120px;
}

.principal > p{
    font-size: 20px;
    margin: 20px 0 20px 0px;
    line-height: 30px;
}

.titulo:hover, .principal > p:hover{
    transform: scale(1.1);
    color: #12A5CD;
    transition: all 500ms;
    transition-duration: 500ms;
}

.principal > button{
    border-radius: 20px;
    width: 180px;
    height: 40px;
    border-style: none;
    cursor: pointer;
    background-color: #12A5CD;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 22px 0 22px 0px;
    border-color: #12A5CD;
}

.principal > button:hover{
    transform: scale(1.1);
    background-color: white;
    color: #12A5CD;
}

